<% projects.each_with_index do |project, index| %>
  <div class="col-sm-4" data-animate="flipInY">
    <div class="project">
      <div class="project-heading">
        <a class="userpic" data-toggle="modal" data-target="#<%=project[:dialog]%>">
          <span class="btn btn-icon-user"></span>
          <%= image_tag "projects/#{project[:photo]}.jpg", alt: project[:name] %>
        </a>

        <div class="title">
          <h4><%= project[:name] %></h4>
        </div>
      </div><!-- .project-heading -->
      <!-- Modal -->
      <div class="modal fade" id="<%=project[:dialog]%>" role="dialog">
        <%= render "pages/#{project[:dialog]}" %>
      </div>
    </div><!-- .project -->
  </div><!-- .col-sm-4 -->
<% end %>